<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">

<head>
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.4.7/css/normalize.css">
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.4.7/css/foundation.min.css">
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css">
  <link rel="stylesheet" href="{{ SITEURL }}/theme/css/style.css">
  <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Nobile' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:900' rel='stylesheet' type='text/css'>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="{{ AUTHOR }}">
  <script src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.4.7/js/vendor/modernizr.js"></script>
  {% block description %}
  {% endblock %}

  {% if FEED_ALL_ATOM %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
  {% endif %}
  {% if FEED_ALL_RSS %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
  {% endif %}

  {% block head %}
  {% endblock %}

  <title>
    {% block title %}{{ SITENAME }}{% endblock %}
  </title>

  {% include "analytics.html" %}
</head>

<body>
  <header>
    <div id="nameheader">
      <div class="padding center">
	<span class="sitename">{{ SITENAME }}</span><br>
	<span class="sitesub">{{ SITESUB }}</span>
      </div>
    </div>
    <div class="contain-to-grid show-for-medium-up">
      <nav class="top-bar" data-topbar role="navigation">
	<ul class="title-area">
	  <li class="toggle-topbar menu-icon"></li>
	</ul>
	<section class="top-bar-section">

	  <!-- Left Nav Section -->
	  <ul class="left">
	    <li><a href="{{ SITEURL }}">Home</a></li>
	    <li><a href="{{ SITEURL }}/blog.html">Blog</a></li>
	    <li><a href="{{ SITEURL }}/archives.html">Archives</a></li>
	    <li><a href="{{ SITEURL }}/people.html">People</a></li>
	    <li><a href="{{ SITEURL }}/surnames.html">Surnames</a></li>
	    <li><a href="{{ SITEURL }}/surnames.html">About</a></li>
	  </ul>
	</section>
      </nav>
    </div>
    <div class="off-canvas-wrap" data-offcanvas>
      <div class="inner-wrap">
	
        <!-- OFF CANVAS MENU BAR -->
        <nav class="tab-bar hide-for-medium-up">
	  
          <section class="left-small">
            <a class="left-off-canvas-toggle menu-icon" ><span></span></a>
          </section>
	  
        </nav> <!-- END NAV.TAB-BAR HIDE-FOR-LARGE-UP -->
	
        <!-- OFF CANVAS MENU -->
        <aside class="left-off-canvas-menu">
          <ul class="off-canvas-list">
            <li><label>Navigation</label></li>
            <li><a href="{{ SITEURL }}">Home</a></li>
            <li><a href="{{ SITEURL }}/blog.html">Blog</a></li>
            <li><a href="{{ SITEURL }}/archive.html">Archive</a></li>
	    <li><a href="{{ SITEURL }}/people.html">People</a></li>
	    <li><a href="{{ SITEURL }}/surnames.html">Surnames</a></li>
	    <li><a href="{{ SITEURL }}/surnames.html">About</a></li>
          </ul>
        </aside>
	{% block homeimage %}
	{% endblock %}
	<main>
	  <div class="row">
	    {% block content %}
	    {% endblock %}
	  </div>
	</main>
	<a class="exit-off-canvas"></a>
      </div>
    </div>
  </header>
  <script src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.4.7/js/vendor/jquery.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.4.7/js/vendor/fastclick.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.4.7/js/foundation.min.js"></script>
  <script>
    $(document).foundation();
  </script>
</body>
</html>
