<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">

<head>
  <link rel="stylesheet" href="http://cdn.jsdelivr.net/foundation/5.3.3/css/normalize.css">
  <link rel="stylesheet" href="http://cdn.jsdelivr.net/foundation/5.3.3/css/foundation.min.css">
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css">
  <link rel="stylesheet" href="{{ SITEURL }}/theme/css/style.css">
  <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Nobile' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:900' rel='stylesheet' type='text/css'>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="{{ AUTHOR }}">
  {% block description %}
  {% endblock %}

  {% if FEED_ALL_ATOM %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
  {% endif %}
  {% if FEED_ALL_RSS %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
  {% endif %}

  {% block head %}
  {% endblock %}

  <title>
    {% block title %}{{ SITENAME }}{% endblock %}
  </title>

  {% include "analytics.html" %}
</head>

<body>
  <header>
    {% block header %}
    {% endblock %}
    <div class="contain-to-grid">
      <nav class="top-bar" data-topbar>
	<ul class="title-area">
	  <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
	</ul>
	<section class="top-bar-section">

	  <!-- Left Nav Section -->
	  <ul class="left">
	    <li><a href="{{ SITEURL }}/index.html">Home</a></li>
	    <li><a href="{{ SITEURL }}/blog.html">Blog</a></li>
	    <li><a href="{{ SITEURL }}/archives.html">Archives</a></li>
	    <li><a href="{{ SITEURL }}/people.html">People</a></li>
	    <li><a href="{{ SITEURL }}/surnames.html">Surnames</a></li>
	    <li><a href="{{ SITEURL }}/surnames.html">About</a></li>
	  </ul>
	</section>
      </nav>
    </div>
  </header>
  <main>
    <div class="row">
    {% block content %}
    {% endblock %}

    <footer>
      {% block footer %}
      {% endblock %}
    </footer>

    </div>
  </main>
  <script>
    var navigation = responsiveNav("#nav", {
      label: '<i class=\"icon-align-justify icon-reorder\"></i>'
    });
  </script>
</body>
</html>
